.home-box {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.send-box {
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 60vw;
  border: 2px solid red;
}

.receive-box {
  height: 30vh;
  width: 60vw;
  border: 2px solid blue;
}